
<div *ngIf="item" class="budget-item-container" [ngClass]="color">
	<div class="budget-item-delete"><span class="material-icons" (click)="deleteBudget(item);">delete_forever</span></div>

	<span class="description text-truncate" (click)="modifiedBudget(item);">{{ item?.description }}</span>
	<!-- <span class="amount text-right" [ngClass]="color">{{ item?.amount | number : '1.2-2' }}</span> -->
	<!-- <span class="amount text-right" [ngClass]="color">{{ nFormated }}</span> -->
	<span class="amount text-right" [ngClass]="color">{{ formatNumber.transform(item?.amount, 'pt-PT') }}</span> 
</div>
