@import '../../../../styles.scss';

.budget-item-container {
    display: flex;
    background-color: $light-grey;

    padding: 8px 10px;

    // cursor: pointer;
    &:hover {
        .budget-item-delete {
            opacity: 1;
            transform: scale(1);
        }
    }

    &.red { color: lighten(red, 12%); }
    &.green { color: lighten(green, 12%); }

    .description, .amount {
        padding: 6px 8px;
    }
    .description { width: 90%; cursor: pointer; }
    .amount { /* width: 20%; */
        position: absolute;
        right: 25px;
        &.red { background-color: $light-red; }
        &.green { background-color: $light-green; }    
    }

    position: relative;
    .budget-item-delete {
        position: absolute;
        right: -8px;
        top: -8px;
    
        width: 30px; height: 30px;
        background-color: $dark;
        border-radius: 50%;

        color: $red;
        font-size: 20px;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        transform: scale(0.2);
        opacity: 0;
        transition: transform 0.4s ease-in;
        &:hover {
            opacity: 1;
            transform: scale(1);
        }
    }
}
