<section class="container">

	<section class="title text-uppercase d-flex justify-content-center align-items-center"><h1 class="mb-0">Budget Calculator</h1></section>

	<section class="display d-flex justify-content-center align-items-center" [ngClass]="{'green': number > 0, 'red': number < 0 }">
		{{ formatNumber.transform(number, 'pt-PT') }}
	</section>

	<section class="add-item d-flex justify-content-center align-items-center">
		<app-add-item [item]="item" (addItem)="onReceiving($event);"></app-add-item>
	</section>

	<app-budget-item-list [item]="budgetItem" (displayEdit)="onReceivingEdit($event)"></app-budget-item-list>

</section>