@import '../../../styles.scss';

.title {
    height: 68px;
    background: linear-gradient(75deg, rgb(214, 180, 247), rgb(173, 203, 231));
    color: $dark;
}

.display {
    height: 250px;
    background-color: $dark;
    
    font-weight: 300;
    font-size: 58px;
    color: white;
    &.red {
        color: lighten(red, 12%);
    }
    &.green {
        color: lighten(green, 12%)
    }

    overflow-x: hidden;
}
