.form-field {
    padding: 20px;
    &:first-child { width: 100px; }
    &:last-of-type { width: 480px; }
}

hr { margin-top: 0;}

@media only screen and (max-width: 768px) {
    .form-field {
        &:first-child, &:last-of-type { width: 100%; }
    }

    button.mat-button { float: right; }
    hr { margin-top: 4rem;}
}