<form [formGroup]="addForm" (ngSubmit)="insertItem(formDirective)" #formDirective="ngForm">

	<mat-form-field class="form-field">
		<input type="number" matInput placeholder="Amount" formControlName="amount" />
		<mat-error *ngIf="addForm.get('amount')?.errors?.required">Amount is <strong>required</strong>!</mat-error>
	</mat-form-field>

	<mat-form-field class="form-field">
		<input type="text" matInput placeholder="Description" formControlName="description" />
		<mat-error *ngIf="addForm.get('description')?.errors?.required">Description is <strong>required</strong>!</mat-error>
	</mat-form-field>

	<button mat-button mat-raised-button color="primary" type="submit" [disabled]="addForm.invalid">
		<div *ngIf="isThisNewItem">Add</div>
        <div *ngIf="!isThisNewItem">Save</div>
	</button>

</form>

<hr>