<section class="budget-item-list">
	<div class="row d-flex justify-content-center">

		<div class="col w-50">
			<div class="hx green text-center text-uppercase mt-5 mb-3">
				<span class="income">Income</span><span class="income-total">{{ formatNumber.transform(incomeTotal, 'pt-PT') }}</span>
			</div>
			<div *ngFor="let item of itemsArray;" class="mb-3">
				<div *ngIf="item.amount > 0">
					<app-budget-item [item]="item" [color]="'green'" (modifiedItem)="doModifiedItem($event)" (deleteItem)="doDeleteItem($event)"></app-budget-item>
				</div>
			</div>
		</div>

		<div class="col w-50">
			<div class="hx red text-center text-uppercase mt-5 mb-3">
				<span class="expenses">Expenses</span><span class="expenses-total">{{ formatNumber.transform(expensesTotal, 'pt-PT') }}</span>
			</div>
			<div *ngFor="let item of itemsArray;" class="mb-3">
				<div *ngIf="item.amount < 0">
					<app-budget-item [item]="item" [color]="'red'" (modifiedItem)="doModifiedItem($event)" (deleteItem)="doDeleteItem($event)"></app-budget-item>
				</div>
			</div>
		</div>

	</div>
</section>