@import '../../../styles.scss';

.budget-item-list {
    max-width: 1000px;
    margin: auto;
}

.hx {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: $light-grey;

    padding: 12px 10px;

    &.red {
        color: lighten(red, 12%);
        border: 1px solid #f8ecea
    }
    &.green {
        color: lighten(green, 12%);
        border: 1px solid lighten(green, 70%);
    }

    .income, .expenses {
        transition: color 1s ease-out ;
    }
    
    .income-total, .expenses-total {
        padding: 6px 8px;
        
        position: absolute;
        right: 22px;

        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0px;

        overflow-x: hidden;

        transition: width 1s ease-out;    

    }
    .income-total { background-color: $light-green; }
    .expenses-total { background-color: $light-red; }

}

@media only screen and (max-width: 991px) {
    .hx {
        .income, .expenses { color: white; }
        .income-total, .expenses-total {
            font-weight: 900;
            right: auto;
            width: 30vw;
        }
    }
}