$purple: #9f68eb;
$purple-light: #e3d4f8; 
$light-grey: #f5f5f5;
$dark: rgb(22, 28, 41);


$green: #00cc86;
$light-green: #bafacd;

$red: #dc3900;
$light-red: #ffe5e3;


/****************************/
/*      BUTTONS THEME       */
/*      -------------       */
/****************************/

// .example-button-row button,
// .example-button-row a {
//   margin-right: 8px;
// }

// /* Primary syling */

// .mat-button.mat-primary,
// .mat-stroked-button.mat-primary {
//     color: #9f68eb;
// }
// .mat-button.mat-primary:hover,
// .mat-stroked-button.mat-primary:hover {
//   background-color: #e3d4f8;
// }

// .mat-raised-button.mat-primary,
// .mat-flat-button.mat-primary,
// .mat-fab.mat-primary,
// .mat-mini-fab.mat-primary {
//   color: #e3d4f8;
//   background-color: #9f68eb;
// }

// .mat-icon-button.mat-primary {
//   color:#9f68eb;
// }

/****************************************************************************/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
